# Note: this doesn't include tensorflow or tensorflow-gpu because the package you need to install
# depends on your platform. It is assumed you have already installed tensorflow.
falcon>=2.0.0
inflect>=5.0.2
matplotlib>=3.3.4
numpy>=1.19.5
scipy>=1.6.0
tqdm>=4.60.0
Unidecode>=1.3.2
librosa>=0.8.0

